/.google.token
/.HA_VERSION
/.ios.conf
/.uuid
/caseta-bridge.crt
/caseta.crt
/caseta.key
/home-assistant_v2.db
/home-assistant.log
/OZW_Log.txt
/phue-0017882271c1.conf
/phue.conf
/pyozw.sqlite
/zwave_device_config.yaml
/zwcfg_0xee84860c.xml
/zwscene.xml
/entity_registry.yaml
/ip_bans.yaml
/options.xml
home-assistant_v2.db*
/secrets.yaml
/ecobee.conf
/known_devices.yaml
